[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai = "*"
langchain = "*"
vimeo-downloader = "*"
pytube = {git = "https://github.com/jmischung/pytube.git", branch = "master", editable = true}
streamlit-authenticator = "*"
pyyaml = "*"
st-pages = "*"
streamlit-extras = "*"

[dev-packages]
watchdog = "*"
flake8 = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
